<div id="header_wrap">
  <div class="contents">
    <div id="left">
    {% if page.id != 'index' %}
    <div id="header_img"><a href="./"><img id="header_logo" src="img/header_logo.png" alt="ラヒルロゴ" /></a></div>
    {% endif %}
    </div>
    <div id="right">
      <div class="address">
        札幌市中央区南3条西2丁目7-1 I.C.C南3条ビル4F<br />
        受付時間 平日11：00〜19：30 日祝10：00〜17：30<br />
        Tel.Fax 011.251.3322【予約優先】火曜定休
      </div>
      <div>
        <ul class="menu">
          <li><a href="menu_price.html">Menu</a></li>
          <li><a href="stylist.html">Stylist</a></li>
          <li><a href="haristyle.html">HairStyle</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="http://blog.livedoor.jp/lahir/" target="_blank">Blog</a></li>
          <li><a href="info.html">Information</a></li>
          <li><a href="about_us.html">About us</a></li>
          <li class="last-menu"><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
