<div id="header_wrap">
  <div class="contents">
    <div id="left">
    {% if page.id != 'index' %}
    <div id="header_img"><a href="./"><img id="header_logo" src="img/header_logo.png" alt="ラヒルロゴ" /></a></div>
    {% endif %}
    </div>
    <div id="right">
      <div class="address">
        札幌市中央区南3条西2丁目7-1 I.C.C南3条ビル4F<br />
        受付時間 平日11：00〜19：30 日祝10：00〜17：30<br />
        Tel.Fax 011.251.3322【予約優先】火曜定休
      </div>
      <div>
        <ul class="menu">
          <li><a href="menu.html">Menu</a></li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Hair Style</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Information</a></li>
          <li><a href="#">About us</a></li>
          <li class="last-menu"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

