@charset "UTF-8";

h3.title{
  font-size: 1.18em;
}

div.date{
  position: relative;
  top: -21px;
  margin-right: 10px;
  text-align: right;
}

div.message{
  margin: 5px 10px 10px;
  line-height: 1.8;
}