@charset "UTF-8";

#products{
  h3.product-name {
    margin-bottom: 25px;
    color: #FF8000;
    font-size: 1.2em;
    font-weight: bold;
  }
  table.product{
    margin: 0 15px 15px;
    font-size: 1.0em;

    .price {
      text-align: left;
      color: #FF8000;
      font-weight: bold;
    }

    td.image-box{
      width: 165px;
      text-align: right;
      vertical-align: top;

      div.photo{
        float: right;
        width: 140px;
        border: 1px solid #DCDCDC;
        padding: 1px;
        background-color: #000000;
        a:hover{
          position: static;
          top: 0;
          left: 0;
        }
      }
      div.photo:hover{
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }

}