@charset "UTF-8";

/****************************************************
 * Sub Page Layout
****************************************************/
h3{
  height: 35px;
  padding: 0 10px;
  border-bottom: 1px solid #D3D3D3;
  text-align: left;
  font-size: 1.5em;
  font-weight: normal;

  i{
    margin-right: 5px;
  }
}

#maincontent {
  position: relative;
  top: 120px;
  overflow: hidden;
  

  .contents {
    width: 850px;
    margin: 0 auto;

    .text-block {
      width: 650px;
      margin: 20px auto 30px;
      padding: 30px 50px;
      background: url("../img/bg_context.png") no-repeat bottom right;
      font-size: 1.1em;
      color: #D3D3D3;
    }
  }
}
